$button-color:#003d99;
$primary-font-color:#ffffff;
$input-border:rgb(218,165,32);
$submit-button:19px;

$crappy-devices: 240px;
$smalldevice-portrait: 320px;
$smalldevice-landscape: 480px;
$mediumdevices-portrait: 768px;
$mediumdevices-landscape: 1024px;
$large-desktops: 1200px;
