/* line 1, ../scss/base/_base.scss */
body {
  background: #F9F9F9;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
/* line 12, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both; }

/* line 5, ../scss/base/_base.scss */
.container {
  min-height: 350px;
  margin: 40px auto; }

/* line 9, ../scss/base/_base.scss */
.form {
  margin: 20px 0; }

/* line 12, ../scss/base/_base.scss */
.labelsection {
  margin-top: 5px;
  margin-left: 5px; }

/* line 16, ../scss/base/_base.scss */
.current {
  color: #ffffff;
  background: goldenrod;
  border: 1px solid goldenrod; }

/* line 21, ../scss/base/_base.scss */
.resttab {
  color: goldenrod;
  /*background:$primary-font-color;*/
  border: 1px solid goldenrod; }

/* line 26, ../scss/base/_base.scss */
.logo img {
  /*width: 55%;*/ }

/* line 29, ../scss/base/_base.scss */
::-webkit-input-placeholder, input:-moz-placeholder {
  font-style: italic; }

/* line 1, ../scss/layout/_header.scss */
header {
  background: #F7F7F7;
  min-height: 124px;
  vertical-align: middle;
  border-bottom: 1px solid #ECECEC; }

/* line 7, ../scss/layout/_header.scss */
.top-form {
  margin-top: 40px;
  float: right; }

/* line 11, ../scss/layout/_header.scss */
.logo {
  margin-top: 19px; }

/* line 14, ../scss/layout/_header.scss */
.form-group {
  float: left; }

@media (min-width: 240px) {
  /* line 18, ../scss/layout/_header.scss */
  .logo img {
    max-width: 95%; } }
@media (min-width: 320px) {
  /* line 23, ../scss/layout/_header.scss */
  .logo img {
    max-width: 95%; } }
/* line 1, ../scss/layout/_footer.scss */
footer {
  background: #706565;
  color: #fff;
  padding: 20px; }

/* line 2, ../scss/layout/_nav.scss */
.tabs {
  font-weight: 300;
  font-size: 1.25em; }

/* line 6, ../scss/layout/_nav.scss */
.tabs nav {
  text-align: center;
  background: rgba(40, 44, 42, 0.05); }

/* line 10, ../scss/layout/_nav.scss */
.tabs nav {
  display: block; }

/* line 13, ../scss/layout/_nav.scss */
.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  /*display: flex;*/
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

/* line 36, ../scss/layout/_nav.scss */
.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  /*-webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;*/
  width: 49.4%;
  float: left; }

/* line 49, ../scss/layout/_nav.scss */
.tabs nav ul li a {
  transition: background-color 0.2s, color 0.2s; }

/* line 52, ../scss/layout/_nav.scss */
.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
  text-decoration: none; }

/* line 62, ../scss/layout/_nav.scss */
aside {
  width: 49.15254%;
  float: right;
  margin-right: 0; }
/* line 64, ../scss/layout/_nav.scss */
aside ul {
  padding: 0px; }
/* line 66, ../scss/layout/_nav.scss */
aside ul li {
  list-style: none;
  margin: 0; }
/* line 69, ../scss/layout/_nav.scss */
aside ul li a {
  display: block;
  padding: 10px 5%;
  border-bottom: 1px solid #95a596; }

/* line 1, ../scss/modules/_buttons.scss */
a {
  /*background-color:rgb(218,165,32);
  color:#fff;*/ }

/* line 5, ../scss/modules/_buttons.scss */
input[type="submit"] {
  background: goldenrod; }

/* line 1, ../scss/modules/_components.scss */
.form input[type="email"], .form input[type="password"] {
  width: 90%;
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-left: -4px;
  border: 1px solid goldenrod; }

/* line 8, ../scss/modules/_components.scss */
.form input[type="submit"] {
  padding: 10px 15px;
  font-size: 19px;
  margin-bottom: 10px;
  margin-right: 5px;
  float: right;
  border: none;
  color: #ffffff; }

/* line 17, ../scss/modules/_components.scss */
.top-form input[type="text"], .top-form input[type="password"] {
  padding: 7px 5px;
  margin: 0 5px;
  border: 1px solid goldenrod;
  background: none; }

/* line 23, ../scss/modules/_components.scss */
.top-form input[type="submit"] {
  padding: 7px;
  border: none;
  color: #ffffff; }

/* line 28, ../scss/modules/_components.scss */
.labelsection input[type="checkbox"] {
  outline: 1px solid goldenrod;
  background: none;
  padding: 5px;
  position: relative;
  left: 2px;
  top: 2px;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none; }

@media (min-width: 240px) {
  /* line 40, ../scss/modules/_components.scss */
  .form input[type="email"], .form input[type="password"] {
    width: 81%;
    margin-left: -5px; }

  /* line 44, ../scss/modules/_components.scss */
  .form-group {
    float: none; }

  /* line 47, ../scss/modules/_components.scss */
  .top-form {
    float: left;
    width: 90%; }

  /* line 51, ../scss/modules/_components.scss */
  .top-form input[type="text"], .top-form input[type="password"] {
    width: 100%; }

  /* line 54, ../scss/modules/_components.scss */
  .form input[type="email"], .form input[type="password"] {
    width: 75%;
    margin-left: -4px; }

  /* line 58, ../scss/modules/_components.scss */
  .top-form input[type="submit"] {
    float: right;
    margin: 10px 0; } }
@media (min-width: 320px) {
  /* line 64, ../scss/modules/_components.scss */
  .form input[type="email"], .form input[type="password"] {
    width: 81%;
    margin-left: -5px; }

  /* line 68, ../scss/modules/_components.scss */
  .form-group {
    float: none; }

  /* line 71, ../scss/modules/_components.scss */
  .top-form {
    float: left;
    width: 90%; }

  /* line 75, ../scss/modules/_components.scss */
  .top-form input[type="text"], .top-form input[type="password"] {
    width: 100%; }

  /* line 78, ../scss/modules/_components.scss */
  .top-form input[type="submit"] {
    float: right;
    margin: 10px 0; } }
@media (min-width: 480px) {
  /* line 84, ../scss/modules/_components.scss */
  .form input[type="email"], .form input[type="password"] {
    width: 87%;
    margin-left: -5px; }

  /* line 88, ../scss/modules/_components.scss */
  .top-form input[type="submit"] {
    float: right;
    margin: 10px 0; } }
@media (min-width: 768px) {
  /* line 94, ../scss/modules/_components.scss */
  .form input[type="email"], .form input[type="password"] {
    width: 91.5%; } }
@media (min-width: 1200px) {
  /* line 99, ../scss/modules/_components.scss */
  .top-form, .top-form form {
    float: right; }

  /* line 102, ../scss/modules/_components.scss */
  .form input[type="email"], .form input[type="password"] {
    width: 90%;
    margin-left: -4px; }

  /* line 106, ../scss/modules/_components.scss */
  .top-form input[type="submit"] {
    margin-top: 1px; }

  /* line 109, ../scss/modules/_components.scss */
  .top-form input[type="text"], .top-form input[type="password"] {
    width: 86%; }

  /* line 112, ../scss/modules/_components.scss */
  .form-group {
    float: left; } }
/* line 1, ../scss/modules/_typography.scss */
* {
  font-family: Gill Sans MT; }

/* line 4, ../scss/modules/_typography.scss */
h2, h3 {
  font-weight: normal; }

/* line 7, ../scss/modules/_typography.scss */
h2 {
  font-size: 36px; }

/* line 10, ../scss/modules/_typography.scss */
h3 {
  font-size: 22px; }

/* line 13, ../scss/modules/_typography.scss */
.labelsection {
  font-style: italic; }

/* line 16, ../scss/modules/_typography.scss */
i.fa.fa-envelope {
  color: #ffffff;
  background-color: goldenrod;
  padding: 8px 10px;
  height: 21px;
  position: relative;
  top: 1px; }

/* line 24, ../scss/modules/_typography.scss */
i.fa.fa-lock {
  color: #ffffff;
  background-color: goldenrod;
  padding: 7px 12px;
  height: 23px;
  font-size: 23px;
  position: relative;
  top: 4px;
  left: 1px; }

/* line 34, ../scss/modules/_typography.scss */
i.fa.fa-envelope {
  font-size: 19px; }

/* line 37, ../scss/modules/_typography.scss */
i.fa.fa-lock {
  /*font-size:26px;*/ }

@media (min-width: 240px) {
  /* line 41, ../scss/modules/_typography.scss */
  .right-content h2 {
    font-size: 16px;
    clear: both;
    position: relative;
    top: 9px; }

  /* line 47, ../scss/modules/_typography.scss */
  .left-content h3 {
    font-size: 12px; } }
@media (min-width: 320px) {
  /* line 52, ../scss/modules/_typography.scss */
  .right-content h2 {
    font-size: 24px; }

  /* line 55, ../scss/modules/_typography.scss */
  .left-content h3 {
    font-size: 14px; } }
@media (min-width: 768px) {
  /* line 60, ../scss/modules/_typography.scss */
  .left-content h3 {
    font-size: 22px; } }
/*$widelayout: (
	columns:24,
	gutters:1/4,
	math:fluid,
	output:float,
	gutter-position:split,
);*/
/* line 49, ../scss/main.scss */
.content {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
/* line 12, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.content:after {
  content: " ";
  display: block;
  clear: both; }

/* line 52, ../scss/main.scss */
.left-content h3, .left-content video {
  width: 81.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

@media (min-width: 240px) {
  /* line 58, ../scss/main.scss */
  .left-content h3, .left-content video {
    /*@include span(13);*/ } }
@media (min-width: 320px) {
  /* line 63, ../scss/main.scss */
  .left-content {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }

  /* line 67, ../scss/main.scss */
  .right-content {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }

  /* line 70, ../scss/main.scss */
  .left-content h3, .left-content video {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }
@media (min-width: 768px) {
  /* line 76, ../scss/main.scss */
  .top-left-content {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }

  /* line 80, ../scss/main.scss */
  .top-right-content {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }
@media (min-width: 1200px) {
  /* line 85, ../scss/main.scss */
  .left-content, .top-left-content {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }

  /* line 89, ../scss/main.scss */
  .right-content, .top-right-content {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }
