<div class="row" ng-controller="MyTeamController">
  <div class="col-md-12 invites">
    <h4>My Team </h4>
    <div class="alert alert-success" ng-show="successMsg">{{successMsg}}</div>
    <div class="alert alert-danger" ng-show="errorMsg">
      <div ng-repeat="errorItems in errors track by $index">
        <div ng-repeat="errorItem in errorItems track by $index1">{{errorItem}}</div>
      </div>
    </div>
    <div class="alert alert-info" ng-if="teamDataLoaded == false">Loading....</div>
    <div class="alert alert-info" ng-if="teamDataLoaded == true && members.length < 1">No members found!</div>
    <ul class="list-group" ng-if="members.length > 0">
      <li class="list-group-item link" ng-repeat="member in members track by $index">

        <div class="row">
          <div class="col-md-7">
            <img class="img-responsive" ng-src="{{member.userDetail.thumbImage}}" ng-if="member.userDetail.thumbImage != undefined">
            <strong>{{member.firstName}} {{member.lastName}}</strong>
            <span am-time-ago="member.created"></span>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0);" ng-click="openAssignEndorset(member, 'md')">Assign Endorset</a>
          </div>
          <div class="col-md-2">
            <select name="roleType" ng-model="members[$index].roleType" ng-change="changeRoleType(member, members[$index].roleType)">
              <option value="{{roleType.id}}" ng-repeat="roleType in roleTypes"
                      ng-selected="roleType.id == member.roleType">{{roleType.name}}</option>
            </select>
          </div>
          <div class="col-md-1">
            <span class="pull-right">
              <a href="javascript:void(0);" class="btn btn-small btn-info" title="Remove" mwl-confirm on-confirm="removeMember(member)" confirm-button-type="danger" cancel-button-type="default" message="Are you sure you want to remove?" ng-if="member.status == 1" confirm-text="Yes" cancel-text="No">
                Remove
              </a>
          </span>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>

<!--AssignEndorset Modal Template-->
<script type="text/ng-template" id="AssignEndorsetUserModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Endorset to {{member.firstName}} {{member.lastName}}</h3>
  </div>
  <div class="modal-body">
    <form name="assignEndorset" novalidate>

      <div class="row">
        <div class="form-group">
          <select id="endorsets" name="endorsets" ng-options="(endorset.userDetail.firstName + ' '+endorset.userDetail.lastName) for endorset in endorsets track by endorset.id" ng-model="assign.endorsets" class="form-control input-md" required="" multiple>
            <option value="">Select Endorset</option>
          </select>
          <span style="color:red" ng-show="assignEndorset.endorsets.$dirty && assignEndorset.endorsets.$invalid && assignEndorset.endorsets.$error.required" class="help-inline">Select endorset</span>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="assignUserToEndorset(assignEndorset)" >Assign</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<!--AssignEndorset Modal Template end-->