<div class="alert alert-success" ng-show="successMsg">{{successMsg}}</div>
<div class="alert alert-danger" ng-show="errorMsg">
  <div ng-repeat="errorItems in errors track by $index">
    <div ng-repeat="errorItem in errorItems track by $index1">{{errorItem}}</div>
  </div>
</div>
<div class="row"><div class="col-sm-12"><h3>Endorsement Request</h3> <!--h3 ng-if="profileName != false || profileName!= 'false'">({{profileName}})</h3--></div></div>
<div class="row"><div class="col-sm-12">&nbsp;</div></div>
<div class="row" ng-if="isNewRequestEnable == true">
  <div class="col-sm-12">
    <button class="btn btn-success" ng-click="newRequest()">New Request</button>
  </div>
</div>
<div class="row"><div class="col-sm-12">&nbsp;</div></div>
<div class="row">
  <div class="col-sm-12">
    <progressbar class="active" max="6" value="requestStep" type="success"><i>{{requestStep}} / 6 {{requestStepText}}</i></progressbar>
  </div>
</div>

<div class="row" ng-if="tabs.who.active == true">
  <div class="col-md-12">
    <form name="who" role="form">
      <input type="hidden" ng-model="endorsement.isDraft" value="false">
      <fieldset>
        <!-- Form Name -->
        <p>Who do you want asking for reference to?</p>
        <div class="row">
          <div class="form-group col-md-6">
            <input ng-disabled="disableElement" tabindex="1" id="firstName" name="firstName" ng-model="endorsement.firstName" placeholder="First Name" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="who.firstName.$dirty && who.firstName.$invalid && who.firstName.$error.required" class="help-inline">First name is required</span>
          </div>
          <div class="form-group col-md-6">
            <input ng-disabled="disableElement" tabindex="4" id="jobTitle" name="jobTitle" ng-model="endorsement.jobTitle" placeholder="Your endorser's job title" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="who.jobTitle.$dirty && who.jobTitle.$invalid && who.jobTitle.$error.required" class="help-inline">Job Title is required</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <input ng-disabled="disableElement" tabindex="2" id="lastName" name="lastName" ng-model="endorsement.lastName" placeholder="Last Name" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="who.lastName.$dirty && who.lastName.$invalid && who.lastName.$error.required" class="help-inline">Last name is required</span>
          </div>
          <div class="form-group col-md-6">
            <input ng-disabled="disableElement" tabindex="5" id="level" name="level" ng-model="endorsement.level" placeholder="Your endorser's level" class="form-control input-md" required="" type="number">
            <span style="color:red" ng-show="who.level.$dirty && who.level.$invalid && who.level.$error.required" class="help-inline">Level is required</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <input ng-disabled="disableElement" tabindex="3" id="email" name="email" ng-model="endorsement.email" placeholder="Your endorser's email" class="form-control input-md" required="" type="email">
            <span style="color:red" ng-show="who.email.$dirty && who.email.$invalid && who.email.$error.required" class="help-inline">Email is required</span>
            <span style="color:red" ng-show="who.email.$error.email">Invalid email address.</span>
          </div>
          <div class="form-group  col-md-6">
            <div class="col-md-12">
              <label class="checkbox-inline" for="format-0">
                <input ng-disabled="disableElement" tabindex="6" ng-model="endorsement.format.Text" name="format" id="format-0" value="Text" type="checkbox">
                Text Format
              </label>
              <label class="checkbox-inline" for="format-1">
                <input ng-disabled="disableElement" tabindex="7" ng-model="endorsement.format.Video" name="format" id="format-1" value="Video" type="checkbox">
                Video Format
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10"></div><div class="col-md-2"><button type="button" class="btn btn-success"  ng-click="nextTab(who.$valid, tabs.where, tabs.who)">Next</button></div>

        </div>


      </fieldset>
    </form>
  </div>
</div>
<div class="row" ng-if="tabs.where.active == true">
  <div class="col-md-12">
    <form name="where" role="form">
      <fieldset>
        <!-- Form Name -->
        <p>Where did you worked together?</p>
        <div class="row">
          <div class="form-group">
            <input ng-disabled="disableElement" id="companyName" name="companyName" ng-model="company.companyName" placeholder="Company Name" class="form-control input-md" required="" type="text">

            <span style="color:red" ng-show="where.companyName.$dirty && where.companyName.$invalid && where.companyName.$error.required" class="help-inline">Company name is required</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input ng-disabled="disableElement" id="country" name="country" ng-model="company.country" placeholder="Country" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="where.country.$dirty && where.country.$invalid && where.country.$error.required" class="help-inline">Country is required</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input ng-disabled="disableElement" id="city" name="city" ng-model="company.city" placeholder="City" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="where.city.$dirty && where.city.$invalid && where.city.$error.required" class="help-inline">City is required</span>
          </div>
        </div>

        <div class="row">
          <a href="javascript:void(0);" class="btn btn-success" ng-hide="disableElement" ng-click="addNewCompany(where.$valid, company); where.$setPristine();">Add Company</a>
          <button type="button" class="btn btn-success"  ng-click="nextTab(true, tabs.who, tabs.where)">Back</button>
          <button type="button" class="btn btn-success"  ng-click="nextTab(where.$valid, tabs.when, tabs.where)">Next</button>
        </div>

        <div class="row"  ng-repeat="company in companies track by $index">
          <div class="col-md-7">
            <h3>{{company.companyName}}</h3>
            <p>{{company.country}}, {{company.city}}</p>
          </div>
          <div class="col-md-5"><a href="javascript:void(0);" ng-hide="disableElement" ng-click="removeCompany($index)">Remove</a></div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row" ng-if="tabs.when.active == true">
  <div class="col-md-12">
    <form name="when" role="form">
      <fieldset>
        <!-- Form Name -->
        <p>When did you work together?</p>
        <div class="row" ng-repeat="company in companies track by $index">
          <div class="col-md-12">
            <p>
              <strong>{{company.companyName}}</strong>
            </p>
            <div class="row">
              <div class="form-group">
                <label class="col-md-12">Start</label>
                <div class="col-md-9">
                  <input ng-disabled="disableElement" id="startDate{{$index}}" is-open="company.openStartDate" name="startDate{{$index}}" ng-model="company.startDate" class="form-control input-md" required="" type="text" datepicker-popup="{{dateFormat}}" close-text="Close">

                  <span style="color:red" ng-show="when.startDate.$dirty && when.startDate.$invalid && when.startDate.$error.required" class="help-inline">Start date is required</span>
                </div>
                <div class="col-md-3">
                          <span class="input-group-btn">
                            <button ng-disabled="disableElement" type="button" class="btn btn-default" ng-click="openDate($event, 'openStartDate', $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-md-12">End</label>
                <div class="col-md-9">
                  <input ng-disabled="disableElement" id="endDate{{$index}}" is-open="company.openEndDate" name="endDate{{$index}}" ng-model="company.endDate" class="form-control input-md" required="" min type="text" datepicker-popup="{{dateFormat}}" close-text="Close">
                  <span style="color:red" ng-show="when.endDate.$dirty && when.endDate.$invalid && when.endDate.$error.required" class="help-inline">End date is required</span>
                </div>
                <div class="col-md-3">
                          <span class="input-group-btn">
                            <button ng-disabled="disableElement" type="button" class="btn btn-default" ng-click="openDate($event, 'openEndDate', $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <button type="button" class="btn btn-success"  ng-click="nextTab(true, tabs.where, tabs.when)">Back</button>
          <button type="button" class="btn btn-success"  ng-click="nextTab(when.$valid, tabs.what, tabs.when)">Next</button>
        </div>


      </fieldset>
    </form>
  </div>
</div>
<div class="row" ng-if="tabs.what.active == true">
  <div class="col-md-12">
    <form name="what" role="form">
      <fieldset>
        <!-- Form Name -->
        <p>What project did you work on?</p>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group">
                <select ng-disabled="disableElement" id="endorsementProjectCompanyName" name="endorsementProjectCompanyName" ng-options="company.companyName for company in companies track by company.companyName" ng-model="project.endorsementProjectCompanyName" class="form-control"></select>
                <span style="color:red" ng-if="projects.length <= 0" ng-show="what.endorsementProjectCompanyName.$dirty && what.endorsementProjectCompanyName.$invalid && what.endorsementProjectCompanyName.$error.required" class="help-inline">Select company</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <input ng-disabled="disableElement" id="projectName" name="projectName" ng-model="project.projectName" placeholder="Project Name" class="form-control input-md" required="" type="text">
                <span style="color:red" ng-if="projects.length <= 0" ng-show="what.projectName.$dirty && what.projectName.$invalid && what.projectName.$error.required" class="help-inline">Project name is required</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <textarea ng-disabled="disableElement" id="shortDescription" name="shortDescription" ng-model="project.shortDescription" placeholder="Short project description" class="form-control input-md"></textarea>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <a href="javascript:void(0);" class="btn btn-success" ng-hide="disableElement" ng-click="addNewProject(what.$valid, project); what.$setPristine();">Add New Project</a>
          <button type="button" class="btn btn-success"  ng-click="nextTab(true, tabs.when, tabs.what)">Back</button>
          <button type="button" class="btn btn-success"  ng-click="nextTab(what.$valid, tabs.which, tabs.what)">Next</button>
        </div>
        <div class="row"  ng-repeat="project in projects track by $index">
          <div class="col-md-7">
            <h3>{{project.projectName}}</h3>
            <p>{{project.endorsementProjectCompanyName.companyName}}</p>
          </div>
          <div class="col-md-5"><a href="javascript:void(0);" ng-hide="disableElement" ng-click="removeProject($index)">Remove</a></div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row" ng-if="tabs.which.active == true">
  <div class="col-md-12">
    <form name="which" role="form">
      <fieldset>
        <!-- Form Name -->
        <p>Which skills would you like to be evaluated for?</p>
        <div class="row">
          <div class="form-group">
            <input ng-disabled="disableElement" id="skills" name="skills" ng-model="endorsement.skills" placeholder="PHP, JavaScript, css, HTML5" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="which.skills.$dirty && which.skills.$invalid && which.skills.$error.required" class="help-inline">Skills are required</span>
          </div>
        </div>


        <div class="row">
          <button type="button" class="btn btn-success"  ng-click="nextTab(true, tabs.what, tabs.which)">Back</button>
          <button type="button" class="btn btn-success"  ng-click="nextTab(which.$valid, tabs.why, tabs.which)">Next</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row" ng-if="tabs.why.active == true">
  <div class="col-md-12">
    <form name="why" role="form">
      <fieldset>
        <!-- Form Name -->
        <p>Why you deserve this endorsement?</p>
        <div class="row">
          <div class="form-group">
            <input ng-disabled="disableElement" id="why" name="why" ng-model="endorsement.why" placeholder="Be honest with yourself!" class="form-control input-md" required="" type="text">
            <span style="color:red" ng-show="why.why.$dirty && why.why.$invalid && why.why.$error.required" class="help-inline">Why are required</span>
          </div>
        </div>


        <div class="row">
          <button type="button" class="btn btn-success"  ng-click="nextTab(true, tabs.which, tabs.why)">Back</button>
          <button type="button" ng-disabled="disableElement" ng-hide="disableElement" class="btn btn-success"  ng-click="confirmEndorsement(why.$valid)">Submit</button>
          <button type="button" ng-disabled="disableElement" ng-hide="disableElement" class="btn btn-success"  ng-click="saveDraft(why.$valid)">Draft</button>
        </div>
      </fieldset>
    </form>
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Confirm</h3>
      </div>
      <div class="modal-body">
        Are you sure you want to submit?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>
  </div>
</div>