.form input[type="email"],.form input[type="password"] {
  width: 90%;
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-left:-4px;
  border:1px solid $input-border;
}
.form input[type="submit"]{
  padding: 10px 15px;
  font-size:$submit-button;
  margin-bottom: 10px;
  margin-right:5px;
  float:right;
  border:none;
  color:$primary-font-color;
}
.top-form input[type="text"], .top-form input[type="password"] {
  padding: 7px 5px;
  margin: 0 5px;
  border:1px solid $input-border;
  background:none;
}
.top-form input[type="submit"]{
  padding: 7px;
  border:none;
  color:$primary-font-color;
}
.labelsection input[type="checkbox"] {
  outline: 1px solid $input-border;
  background: none;
  padding: 5px;
  position: relative;
  left: 2px;
  top: 2px;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
}
@include breakpoint($crappy-devices){
	.form input[type="email"], .form input[type="password"]{
	width: 81%;
	margin-left: -5px;
	}
	.form-group {
	float: none;
	}
	.top-form {
	float: left;
	width:90%;
	}
	.top-form input[type="text"], .top-form input[type="password"] {
	width:100%;
	}
	.form input[type="email"], .form input[type="password"]{
	width: 75%;
	margin-left: -4px;
	}
	.top-form input[type="submit"]{
	float: right;
	margin: 10px 0;
	}
}
@include breakpoint($smalldevice-portrait){
	.form input[type="email"], .form input[type="password"]{
	width: 81%;
	margin-left: -5px;
	}
	.form-group {
	float: none;
	}
	.top-form {
	float: left;
	width:90%;
	}
	.top-form input[type="text"], .top-form input[type="password"] {
	width:100%;
	}
	.top-form input[type="submit"]{
	float: right;
	margin: 10px 0;
	}
}
@include breakpoint($smalldevice-landscape){
	.form input[type="email"], .form input[type="password"]{
	width: 87%;
	margin-left: -5px;
	}
	.top-form input[type="submit"]{
	float: right;
	margin: 10px 0;
	}
}
@include breakpoint($mediumdevices-portrait){
	.form input[type="email"], .form input[type="password"]{
	width: 91.5%;
	}
}
@include breakpoint($large-desktops){
	.top-form,.top-form form {
	float: right;
	}
	.form input[type="email"], .form input[type="password"]{
	width: 90%;
	margin-left: -4px;
	}
	.top-form input[type="submit"]{
	margin-top:1px
	}
	.top-form input[type="text"], .top-form input[type="password"]{
	width: 86%;
	}
	.form-group {
	float: left;
	}
	
}
